
h1{
    color:chocolate;
    font: size 100px;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20px;
    display: flex;
    justify-content:center;
    
}
div{
    position:relative;
    
    text-align: center;
    height:30px;
    padding-top: 50px;

}
input{
    height: 50px;
    width:250px;
    font-size: 50px;
    border:4px solid gray;
    border:2pxpx dotted gray;
    border-radius: 10px;

}
#btn{
    height: 50px;
width:100px;
border:4px solid gray;
border-radius: 150px;
}
#btn1{
    height: 50px;
width:100px;
border:4px solid gray;
border-radius: 150px;
}
#span{
    text-align: center;
    height:30px;
    padding-top: 290px;
    font-size: 40px;
    border-radius: 100px;
    color: firebrick;
}
body{
    background-image:url("https://img.freepik.com/premium-vector/hands-people-different-nationalities-are-raised-up-crowd-people_530883-143.jpg");
}